body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s; 
}

#colorButton {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #a51eb7;
    color: rgb(251, 176, 237);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#colorButton:hover {
    background-color: #c327ac; 
}
